<div class="row">
  <div class="col l12">
    <mat-form-field>
      <mat-label>Animal</mat-label>
      <mat-select [(ngModel)]="vacina.idAnimal" name="animal">
        <mat-option *ngFor="let animal of animals" [value]="animal.idAnimal">
          {{animal.descricao}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col s12 m4 l1">
    <mat-form-field class="example-full-width">
      <input matInput type="date" placeholder="Data" [(ngModel)]="vacina.dtVacina">
    </mat-form-field>
  </div>

  <div class="col s12 m4 l6">
    <mat-form-field>
      <input matInput placeholder="Peso" type="number" [(ngModel)]="vacina.peso">
    </mat-form-field>
  </div>

  <div class="col s12 m4 l6">
      <mat-form-field>
        <input matInput placeholder="dosagem" type="number" [(ngModel)]="vacina.dosagem">
      </mat-form-field>
    </div>

  <div class="col s12 m6 l2">
    <mat-form-field>
      <input matInput placeholder="Aplicador" type="text" [(ngModel)]="vacina.aplicador">
    </mat-form-field>
  </div>

  <div class="col s12 m6 l2">
    <mat-form-field>
      <input matInput placeholder="Medicamento" type="text" [(ngModel)]="vacina.descMedicamento">
    </mat-form-field>
  </div>


  <div class="row footer-btn">
    <div class="button-row col s12">
      <button *ngIf="!edit" mat-raised-button color="orange" (click)="salvar()">Salvar</button>
      <button *ngIf="edit" mat-raised-button color="orange" (click)="atualizar()">Atualizar</button>
      <button mat-raised-button color="orange" (click)="cancelar()">Cancelar</button>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <mat-table #table [dataSource]="dataSource" matSort class="table-striped">


        <ng-container matColumnDef="idVacina">
          <mat-header-cell *matHeaderCellDef mat-sort-header> idVacina </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.idVacina}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="dtVacina">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Data </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.dtVacina}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="peso">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Peso </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.peso}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="dosagem">
          <mat-header-cell *matHeaderCellDef mat-sort-header> dosagem </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.dosagem}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="aplicador">
          <mat-header-cell *matHeaderCellDef mat-sort-header> aplicador </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.aplicador}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="descMedicamento">
          <mat-header-cell *matHeaderCellDef mat-sort-header> descMedicamento </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.descMedicamento}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="acao">
          <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-icon-button>
              <mat-icon matTooltip="Excluir" (click)="excluir(element.idVacina)">delete</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon matTooltip="Editar" (click)="markEdit(element)">edit</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let element; columns: displayedColumns;"></mat-row>
      </mat-table>

    </div>
  </div>